<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <connectionStrings>
    <add name="Vidyano" connectionString="metadata=res://*/Repository.VidyanoEntityModel.csdl|res://*/Repository.VidyanoEntityModel.ssdl|res://*/Repository.VidyanoEntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=CRM;Integrated Security=True'" providerName="System.Data.EntityClient" />
    <add name="Vidyano.Logging" connectionString="disabled" />
    <add name="CRMEntityModelContainer" connectionString="metadata=res://*/Service.CRMEntityModel.csdl|res://*/Service.CRMEntityModel.ssdl|res://*/Service.CRMEntityModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=CRM;Integrated Security=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Vidyano.TargetDbContextType" value="CRM.Service.CRMEntityModelContainer, CRM" />
    <add key="Vidyano.ApplicationSalt" value="HNnr6hEx8Z" />
    <!--<add key="Vidyano.ForceHttps" value="True" />-->
    <!--<add key="Vidyano.DisableProfiler" value="True" />-->
    <!--<add key="Vidyano.EnableOptimizeSelect" value="False" />-->
    <add key="Vidyano.Development" value="True" />
    <add key="Vidyano.DataPath" value="~/App_Data/" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Vidyano" type="Vidyano.Service.WebControllerModule, Vidyano.Service" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <httpProtocol>
  <customHeaders>
  <remove name="X-Powered-By" />
  </customHeaders>
  </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>