:host {
    .product-item {
        cursor: pointer;
        /*Default sass variables for vidyano*/
        line-height: var(--theme-h2);

        &:hover {
            background-color: var(--theme-color-faint);
        }
        // ampersand is to append this rule to the parent 
        &[is-selected] {
            background-color: var(--theme-color);
            color: white;
        }
    }

    h1 {
        /*We can also use typescript variables on sass . These variables will be altered on typescript and bound there( and on polymer) and will be altered from there to here. Notice 
        the prefix --crm-products from there we can access any typescript variable . Direct acess to dynamic css.
        */
        margin: var(--crm-products-product-margin, 0);
        color: var(--theme-color);
        transform: var(--crm-products-product-transform);
    }

    .selected-product, footer {
        padding: var(--theme-h4);
    }

    footer {
        overflow: hidden;

        button {
            line-height: var(--theme-h2);
            height: var(--theme-h2);

            &:not(:first-of-type) {
                margin-left: var(--theme-h5);
            }
        }
    }
}
